* /* Estilização de todos os documentos HTML */ {
  margin: 0px; /* Define a margem externa de todos os elementos*/
  padding: 0px; /* Define a margem interna de todos os elementos*/
  box-sizing: border-box; /*Define o modelo de caixa para todos os elementos*/

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body /*Estilização de todo corpo*/ {
  border: 2px solid #000000;
}

header /*Estilização de todos os cabeçalhos*/ {
    width: auto;
    height: 8dvh;

    background: var(--colorFundoNav-padrao) ;

    /*Posição vai ser fixa*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cabecalhoNav /*Estilização de Todas as Navegações de Cabeçalho*/ {
  display: flex;
  justify-content: space-around;
}

.cabecalhoNav img /*Estilização de todas as imagens da Navegações de Cabeçalho*/ {
  width: 61px;
  height: auto;

  margin: 10px 0 0 0;

  cursor: pointer;
}

:root /*Define Variáveis Globais*/ {
  --background-padrao: url("assets/imgs/bg-desktop.jpg");
  --colorTexto-padrao: #ffffff;
  --colorFundoNav-padrao: rgb(0, 131, 218);
  --colorFundo-padrao: rgb(245, 245, 245);
}

/* ============================================================================================================================*/
/*                                                  Tela de Guia Perfil                                                        */
/* ============================================================================================================================*/

.bodyGuia /*Estilização de todo corpo da Tela de Guia*/ {
  background: var(--background-padrao) no-repeat top center/cover;
}

.imagemFrase /*Estilização de toda Divisão Imagem e Frase*/ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagemFrase img /*Estilização da Imagem na Divisão Imagem e Frase*/ {
  margin: 36px;

  width: 120px;
  height: auto;

  border-radius: 50%;

  transform: translateX(20px);
}

#fraseMomento /*Estilização do parágrafo da Frase pelo momento do dia*/ {
  color: var(--colorTexto-padrao);
  font-size: 20px;
}

.navegacaoGuia /*Estilização de Toda Divisão Navegação da Página Guia*/ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegacaoGuia ul li /*Estilização a Lista Ordenada e suas Listas*/ {
  list-style: none;

  padding: 25px 140px;
  margin: 25px;

  text-align: center;
  border: 1px solid #0FFCBE;
  border-radius: 25px;

  background: rgba(0,130,89,0.5);

  cursor: pointer;
}

.navegacaoGuia a /*Estilização de Todos os Links Guia*/ {
  text-decoration: none;

  color: var(--colorTexto-padrao);

  font-size: 20px;
}

.navegacaoGuia ul li:hover /*Estilização de todos os links guia ao passar o mouse*/ {
  font-weight: bold;

  box-shadow: 2px 4px 2px 12px #000000;
  background: rgba(0, 130, 89, 0.281)
}

.meusContatos /*Estilização de todo Rodapé*/ {
  text-align: center;

  margin: 25px;
}

.meusContatos img /*Estilização de todos os <a> do Rodapé*/ {
  width: 75px;
  height: auto;

  margin: 0 12px;
 
  cursor: pointer;
}

.meusContatos img:hover /*Estilização de todos os <a> do Rodapé*/ {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 1314px) /*Estilização de todos os dispositivos até 768px de largura*/ {
  .bodyGuia /*Estilização de todo corpo da Tela de Guia*/ {
    background: url("./assets/imgs/bg-mobile.jpg") no-repeat top center/cover;
  }
  .imagemFrase img /*Estilização da Imagem na Divisão Imagem e Frase*/ {
  margin: 36px;

  width: 120px;
  height: auto;

  border-radius: 50%;

  transform: translateX(4px);
}
  #fraseMomento /*Estilização do parágrafo da Frase pelo momento do dia*/ {
  font-size: 16px;
}
.navegacaoGuia ul li /*Estilização a Lista Ordenada e suas Listas*/ {
  list-style: none;

  padding: 20px 100px;
  margin: 20px;

  text-align: center;
  border: 1px solid #0FFCBE;
  border-radius: 25px;

  transform: translateX(-4px);

  background: rgba(0,130,89,0.5);

  cursor: pointer;
}
.navegacaoGuia a /*Estilização de Todos os Links Guia*/ {
  text-decoration: none;

  color: var(--colorTexto-padrao);

  font-size: 16px;
}
.meusContatos img /*Estilização de todos os <a> do Rodapé*/ {
  width: 60px;
  height: auto;

  margin: 0 12px;
 
  cursor: pointer;
}
}

@media screen and (height:882px) /*Estilização de Telas de altura de 882px*/ {
  .bodyGuia /*Estilização de todo corpo da Tela de Guia*/ {
    background: url("./assets/imgs/bg-desktop.jpg") no-repeat top center;
  }
  #fraseMomento /*Estilização do parágrafo da Frase pelo momento do dia*/ {
  font-size: 14px;
}
}
/* ============================================================================================================================*/
/*                                                  Tela de Guia Perfil                                                        */
/* ============================================================================================================================*/

/* ============================================================================================================================*/
/*                                                  Tela de Sobre Mim                                                        */
/* ============================================================================================================================*/

  .resumoSobreMin /*Estilização de toda Seção Resumo Sobre Mim*/ {
    background: var(--colorFundo-padrao);

    width: auto;
    max-width: 1980px;
    height: 700px;
    max-height: 1020px;

    display: flex;
    justify-content: space-evenly;

    overflow: hidden;
  }

  .resumoSobreMin p /*Estilização de todos os p da Seção Resumo Sobre Mim*/ {
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 2px;


    margin: 82px 25px 0 0;
    
    text-align: left;
  }

  .resumoSobreMin img /*Estilização da imagem da Seção Resumo Sobre Mim*/ {
    width: 480px;
    height: 460px;

    margin: 25px;

    border: 1px solid var(--colorFundo-padrao);
    border-radius: 50%;
  }

  .navPagina /*Estilização Navegação entre a Página*/ {
    display: flex;
    justify-content: space-around;
  }

  .navPagina a /*Estilização de todos os <a> da Navegação entre Página*/ {
    text-decoration: none;
    color: #000000;
    font-size: 25px;

    background: #898989;

    border: 4px solid #000000;
    border-radius: 61px;

    padding: 20px 50px;

    cursor: pointer;
  }

/* ============================================================================================================================*/
/*                                                  Tela de Sobre Mim                                                        */
/* ============================================================================================================================*/