* /* Estilização de todos os documentos HTML */ {
    margin: 0px; /* Define a margem externa de todos os elementos*/
    padding: 0px; /* Define a margem interna de todos os elementos*/
    box-sizing: border-box; /*Define o modelo de caixa para todos os elementos*/

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  :root /*Define Variáveis Globais*/ {
    --background-padrao: url("assets/imgs/minha_foto.jpg")
  }

/* ============================================================================================================================*/
/*                                                  Tela de Guia Perfil                                                        */
/* ============================================================================================================================*/

  .imagemFrase /*Estilização de toda Divisão Imagem e Frase*/ {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .imagemFrase img /*Estilização da Imagem na Divisão Imagem e Frase*/ {
    background: var(--background-padrao) no-repeat top center/cover;

    border-radius: 20px;
  }





/* ============================================================================================================================*/
/*                                                  Tela de Guia Perfil                                                        */
/* ============================================================================================================================*/